//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

#button-gov-wales {
  background-color: #019e39;
}

.language-switch-button {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  background: #000;
  text-decoration: none;
  float: right;
  margin-top: 15px;
}
