//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

#start-button-gov-wales {
  background: #019e1e;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 15px 20px 15px 20px; 
  margin: 0 0 15px;
}

#continue-button-gov-wales {
  background: #0360a6;
  border: 1px 1px solid #0360a6; color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 20px;
}

#back-button-gov-wales {
  background: #0360a6;
  border: 1px 1px solid #0360a6; color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 20px;
}

#form-background-gov-wales {
  background: #f1f1f1;
  padding: 40px 40px 20px 40px
}

#input-gov-wales {
  background: #ffffff;
}

.language-switch-button {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  background: #000;
  text-decoration: none;
  float: right;
  margin-top: 15px;
}

