{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/start"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Blog</span>
      <h1 class="govuk-heading-xl">
        A night away in Wales
      </h1>

      <p class="govuk-body-s">Orgnaisation: <a href="#">Welsh Revenue Authority</a></p>

      <div class="govuk-form-group" id="form-background-gov-wales">
        <h2 class="govuk-heading-l">Hello Wales</h2>
        <p>Read about our plans </p>
        <p>Read more.</p>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 2px #000 solid; margin-top: 0px;">

      <p class="govuk-body">Get regular updates .</p>

    </div>

  </div>

{% endblock %}
