{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/not-suitable-nation"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">


        <h2 class="govuk-heading-l">You signed out the service</h2>
        <p class="govuk-body">
          <a href="./email">Sign back into the service</a> to complete your registration.
        </p>

      </div>

    </div>
  </div>

{% endblock %}
