{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/check-answers"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check before you register</h1>

      <div class="govuk-form-group" id="form-background-gov-wales">

        <div class="govuk-summary-card" id="summary-card">
          <div class="govuk-summary-card__title-wrapper" id="summary-card-wrapper">
            <h2 class="govuk-summary-card__title">Business details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['ownership'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['fullName'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['email'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['relationship'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              {% if data.ownership=="Limited company" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Company name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['company-name'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Company number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['company-number'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
              {% endif %}
              {% if data.ownership=="Charity" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Charity name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['charity-name'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Charity number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['charity-number'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
              {% endif %}
              {% if data.ownership=="Partnership" %}
                {% if data.Add2ndPartner=="yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 2 name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['2ndPartnerName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 2 email
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['2ndPartnerEmail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                {% endif %}
                {% if data.Add3rdPartner=="yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 3 name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['3rdPartnerName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 3 email
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['3rdPartnerEmail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                {% endif %}
                {% if data.Add4thPartner=="yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 4 name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['4thPartnerName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Partner 4 email
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['4thPartnerEmail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                {% endif %}
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['businessAddressLine1'] }}<br>
                  {% if data.businessAddressLine2=="" %}
                    <!-- blank as no 2nd line was entered -->
                  {% else %}
                    {{ data['businessAddressLine2'] }}<br>
                  {% endif %}
                  {{ data['businessAddressTown'] }}<br>
                  {% if data.businessAddressCounty=="" %}
                    <!-- blank as no 2nd line was entered -->
                  {% else %}
                    {{ data['businessAddressCounty'] }}<br>
                  {% endif %}
                  {{ data['businessAddressPostcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {% if data.startedTrading=="yes" %}
                    <h1 class="govuk-fieldset__heading">
                      Started trading
                    </h1>
                  {% endif %}
                  {% if data.startedTrading=="no" %}
                    <h1 class="govuk-fieldset__heading">
                      Trading starts
                    </h1>
                  {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['started-trading-day'] }} {{ data['started-trading-month'] }} {{ data['started-trading-year'] }}                
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Trading name
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data.hasTradingName=="no" %}
                    {{ data['hasTradingName'] }}
                  {% else %}
                    {{ data['TradingName'] }}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card" id="summary-card">
          <div class="govuk-summary-card__title-wrapper" id="summary-card-wrapper">
            <h2 class="govuk-summary-card__title">Property details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['address-selected'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Local authority
                </dt>
                <dd class="govuk-summary-list__value">
                  Swandiff Council
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Accommodation
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['type'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {% if data.type=="Campsite or caravan park" %}
                    Pitches
                  {% elif data.type=="none" %}
                    Number of sleeping units
                  {% elif data.type=="Campsite or caravan park,Hotel" %}
                    Pitches and bedrooms
                  {% elif data.type=="Campsite or caravan park,Self-catering" %}
                    Pitches and bedrooms               
                  {% elif data.type=="Campsite or caravan park,Bed and breakfast" %}
                    Pitches and bedrooms
                  {% elif data.type=="Campsite or caravan park,Hotel,Self-catering" %}
                    Pitches and bedrooms               
                  {% elif data.type=="Campsite or caravan park,Self-catering,Bed and breakfast" %}
                    Pitches and bedrooms  
                  {% elif data.type=="Campsite or caravan park,Hotel,Self-catering,Bed and breakfast" %}
                    Pitches and bedrooms             
                  {% else %}
                    Bedrooms
                  {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['units'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sleeping capacity
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['capacity'] }} people
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <!--
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Shared facilities
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['facilities'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              -->
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">Now register this property</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/en/register/confirmation-page/v1" method="post" novalidate >

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Register and finish
            </button>
            <!--
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
              Add another property
            </button>
            -->
          </div>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
