{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/check-answers"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check before you register</h1>

      <div class="govuk-form-group" id="form-background-gov-wales">

        <div class="govuk-summary-card" id="summary-card">
          <div class="govuk-summary-card__title-wrapper" id="summary-card-wrapper">
            <h2 class="govuk-summary-card__title">71 Nunney Avenue, Swandiff, SD32 8AF</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action" id="summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property details</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Self-catering
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Rooms
                </dt>
                <dd class="govuk-summary-list__value">
                  3
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Maximum capacity
                </dt>
                <dd class="govuk-summary-list__value">
                  6 people
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Shared facilities
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Council
                </dt>
                <dd class="govuk-summary-list__value">
                  Swandiff Council
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Conact
                </dt>
                <dd class="govuk-summary-list__value">
                  Nadiya Kanaa<br>
                  nadiya@blueblueholidays.com
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  I am a director of the company
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Liable party
                </dt>
                <dd class="govuk-summary-list__value">
                  Bluebird Holidays Limited
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Companies House number
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">06617101</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Company address
                </dt>
                <dd class="govuk-summary-list__value">
                  14 Harper Mews<br>
                  Swandiff<br>
                  SD16 4LF
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">Now register this property</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="./confirm" method="post" novalidate >

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Register and finish
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
              Add another property
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
