{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales"><span class="govuk-!-font-weight-regular">71 Nunney Avenue, Swandiff, CF62 3AF will stop being registered as accommodation on 24 March 2026</span></p>

        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You no longer need to collect visitor levy for this property from 24 March 2026
        </p>
        <p class="govuk-body">
          Swandiff Council will contact you to confirm when they've closed their records for this property.
        </p>
        <p class="">You can still see records for this property.</p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Return to registered properties</a>
        </p>

      </div>

    </div>
  </div>

{% endblock %}
