{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-third">

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
          <p class="govuk-body" style="margin-bottom: 5px;">
            Properties
          </p>
          <p class="govuk-body" style="margin-bottom: 5px;">
            — <a class="govuk-link govuk-!-font-weight-bold" href="#">Registered properties</a>
          </p>
          <p class="govuk-body" style="margin-bottom: 5px;">
            — <a class="govuk-link" href="#">Add new properties</a>
          </p>
        </div>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Properties</span>
      <h1 class="govuk-heading-l">Registered properties (5)</h1>

      <div class="govuk-form-group">
        <input class="govuk-input" id="event-name" name="eventName" type="text" placeholder="Search address">
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">                71 Nunney Avenue,
                Tenby, CF62 3AF</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Swandiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered
              </dt>
              <dd class="govuk-summary-list__value">
                31 July 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            35 Newport Road, St. Davids, CF62 5BN</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                St. Davids Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered
              </dt>
              <dd class="govuk-summary-list__value">
                31 July 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
              41 Station Approach, Tenby, SA62 4LF
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Swandiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered
              </dt>
              <dd class="govuk-summary-list__value">
                31 July 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">                71 Nunney Avenue,
                Tenby, CF62 3AF</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Swandiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered
              </dt>
              <dd class="govuk-summary-list__value">
                31 July 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">                71 Nunney Avenue,
                Tenby, CF62 3AF</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Swandiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered
              </dt>
              <dd class="govuk-summary-list__value">
                31 July 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
