{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Provide accommodation Wales</span>
      <h1 class="govuk-heading-xl">
        Sign into service
      </h1>

      <form class="form" action="/en/levy/login-code" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this to send you a receipt
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #0360a6;">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
