{% extends "layouts/main.html" %}

{% block pageTitle %}
  Settings - provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Properties</a>
      </p>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Messages</a>
      </p>
      <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
        <p class="govuk-body" style="margin-bottom: 5px;">
          Settings
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link govuk-!-font-weight-bold" href="#">Members</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link" href="#">API keys</a>
        </p>
      </div>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Add new member</span>
      <h1 class="govuk-heading-l">Who do you want to add?</h1>


      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <div id="email-hint" class="govuk-hint">
          We’ll only use this to send you a receipt
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <form action="/en/levy/new-member-permissions" method="post" novalidate >
        <button class="govuk-button" data-module="govuk-button" style="background-color: #0360a6;">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
