{% extends "layouts/main.html" %}

{% block pageTitle %}
  Preview upload
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Tax and payments</a>      
      </p>
      <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
        <p class="govuk-body" style="margin-bottom: 5px;">
          <a class="govuk-link" href="#">Properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link govuk-!-font-weight-bold" href="#">Registered properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link" href="#">New registrations</a>
        </p>
      </div>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Messages</a>
      </p>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Settings</a>
      </p>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Registered properties</h1>

      <div class="govuk-form-group">
        <input class="govuk-input" id="event-name" name="eventName" type="text" placeholder="Fina a property">
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 1</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#" style="color: #d4351c  ;">De-register<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                71 Nunney Avenue<br>
                Tenby<br>
                CF11 3AF
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Tenby Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Visitor levy
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag">
                  Starts soon
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tax organisation
              </dt>
              <dd class="govuk-summary-list__value">
                Bluebird Holidays Limited
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date registered
              </dt>
              <dd class="govuk-summary-list__value">
                26 June 2026
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 2</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#" style="color: #d4351c  ;">De-register<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                35 Newport Road<br>
                Barry<br>
                CF62 5BN
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                The Vale of Glamorgan Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Visitor levy
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--grey">
                  Not currently
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tax organisation
              </dt>
              <dd class="govuk-summary-list__value">
                Bluebird Holidays Limited
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date registered
              </dt>
              <dd class="govuk-summary-list__value">
                26 June 2026
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 3</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#" style="color: #d4351c  ;">De-register<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                41 Station Approach<br>
                Tenby<br>
                CF11 4LF
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Tenby Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Visitor levy
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag">
                  Starts soon
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Tax organisation
              </dt>
              <dd class="govuk-summary-list__value">
                Bluebird Holidays Limited
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date registered
              </dt>
              <dd class="govuk-summary-list__value">
                26 June 2026
              </dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
