{% extends "layouts/main.html" %}

{% block pageTitle %}
  Settings - provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
        <p class="govuk-body" style="margin-bottom: 5px;">
          <a class="govuk-link" href="#">Properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link" href="#">Registered properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link govuk-!-font-weight-bold" href="#">New registrations</a>
        </p>
      </div>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Messages</a>
      </p>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Settings</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            <a href="#">Three properties</a> have been registered as tourist accommodation
          </h3>
          <p class="govuk-body">We will post printed certificates to the address of each property</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
