{% extends "layouts/main.html" %}

{% block pageTitle %}
  Settings - provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="background: #019e1e; border: #019e1e solid 5px;">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content" style="background: #cdf7d4;">
          <h3 class="govuk-notification-banner__heading">
            <a href="#">Three properties</a> have been registered as tourist accommodation
          </h3>
          <p class="govuk-body">We will post printed certificates to the address of each property</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
