{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/exemptions"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <form class="form" action="./pay-fee" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Exemptions
                </h1>
              </legend>
              <div id="countries-hint" class="govuk-hint">
                Select all countries that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="wales">
                  <label class="govuk-label govuk-checkboxes__label" for="countries">
                    Refugees
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="england">
                  <label class="govuk-label govuk-checkboxes__label" for="countries">
                    Council housing
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
                  <label class="govuk-label govuk-checkboxes__label" for="countries-2">
                    Evacuees
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
                  <label class="govuk-label govuk-checkboxes__label" for="countries-3">
                    Northern Ireland
                  </label>
                </div>
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive" style="background-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                    None of these countries
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
