{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/properties">Properties</a>
        </li>
        <!--<li>
          <a class="govuk-link" href="#">Licences</a>
        </li>-->
        <li>
          <a class="govuk-link" href="#">Messages (1)</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Provide accommodation in Wales</h3>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Properties registered</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Registered</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Council</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">71 Nunney Avenue, Swandiff, SD32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Today</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Swandiff Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <!--<tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">35 Newport Road, Carmouth, CM62...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Carmouth Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">41 Station Approach, Swandiff, SD62...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Swandiff Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>-->
        </tbody>
      </table>
      <p class="govuk-body"><a href="#">View all registered accommodation</a></p>

    </div>
  </div>

{% endblock %}
