{% extends "layouts/main.html" %}

{% block pageTitle %}
  Generate proof - GOV.UK Proof
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
        <p class="govuk-body" style="margin-bottom: 5px;">
          <a class="govuk-link" href="#">Properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link" href="#">Registered properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link govuk-!-font-weight-bold" href="#">New registrations</a>
        </p>
      </div>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Messages</a>
      </p>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Settings</a>
      </p>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">New registrations</span>
      <h1 class="govuk-heading-l">How do you want to register?</h1>


      {{ govukRadios({
        name: "inputtype",
        value: data['inputtype'],
        items: [
          {
            value: "form",
            text: "Fill in a form - one property at a time"
          },
          {
            value: "spreadsheet",
            text: "Upload a spreadsheet - one property or more"
          }
        ]
      }) }}

      <form action="/en/register/upload-spreadsheet" method="post" novalidate >
        <button class="govuk-button" data-module="govuk-button" style="background-color: #0360a6;">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
