{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/pay-fee"%}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <form action="./postcode" method="post" novalidate >

          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">

            {{ govukRadios({
              name: "inputtype",
              value: data['inputtype'],
              fieldset: {
                legend: {
                  text: "How do you want to create proofs?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "form",
                  text: "Fill in a form - one proof at a time"
                },
                {
                  value: "spreadsheet",
                  text: "Upload a spreadsheet - one proof or more"
                }
              ]
            }) }}

            <br>

            <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Continue
            </button>

          </fieldset>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
