{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>


        <form action="./method-volume" method="post" novalidate >

          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who is doing this registration?
              </h1>
            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Full name
              </label>
              <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
            </div>
          </fieldset>

          <br>
          <br>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Role
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    I operate as a sole trader
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    I operate in a partnership
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    I present a person, charity, limited company, organisation or trust that operates it
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <br><br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
