{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/in-wales"%}

{% block pageTitle %}
  Nation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

        <form class="form" action="./not-suitable-nation" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nation-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Where is the accommodation?
                </h1>
              </legend>
              <div id="nation-hint" class="govuk-hint">
                Select all countries that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nation" name="nation" type="checkbox" value="wales">
                  <label class="govuk-label govuk-checkboxes__label" for="nation">
                    Wales
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nation" name="nation" type="checkbox" value="england">
                  <label class="govuk-label govuk-checkboxes__label" for="nation">
                    England
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nation-2" name="nation" type="checkbox" value="portugal">
                  <label class="govuk-label govuk-checkboxes__label" for="nation-2">
                    Scotland
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nation-3" name="nation" type="checkbox" value="spain">
                  <label class="govuk-label govuk-checkboxes__label" for="nation-3">
                    Northern Ireland
                  </label>
                </div>
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nation-5" name="nation" type="checkbox" value="none" data-behaviour="exclusive" style="background-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="nation-5">
                    None of these nation
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
