{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/not-suitable-nation"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

        <h2 class="govuk-heading-l">You don't need to use this service</h2>
        <p class="govuk-body">
          Only accommodation in Wales need to be registered with this service.
        </p>

      </div>

    </div>
  </div>

{% endblock %}
