{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/org-type"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

          <form action="./search-company-details" method="post" novalidate >

            <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Who does the accommodation belong to?
                </h1>
              </legend>
              <br>
              <p id="call-out-gov-wales" style="background: #fff;">71 Nunney Avenue, Swandiff, SD32 8AF</p>
              <br>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="property-type" type="radio" value="Campsite or caravan park" aria-describedby="proerty-type-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Company
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn-2" name="property-type" type="radio" value="Hotel" aria-describedby="proerty-type-item-2-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn-2">
                    Individual, sole trader or private home
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="property-type" type="radio" value="Campsite or caravan park" aria-describedby="proerty-type-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Charity
                  </label>
                </div>
              </div>
            </fieldset>

            <br><br>

            <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Continue
            </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
