{% extends "layouts/main.html" %}

{% block pageTitle %}
  Generate proof - GOV.UK Proof
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Nadiya Kanaa</span>, Bluebird Holidays Limited 
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div style="border-left: 4px solid #0360a6; margin-left: -14px; padding-left: 10px;">
        <p class="govuk-body" style="margin-bottom: 5px;">
          <a class="govuk-link" href="#">Properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link" href="#">Registered properties</a>
        </p>
        <p class="govuk-body" style="margin-bottom: 5px;">
          — <a class="govuk-link govuk-!-font-weight-bold" href="#">New registrations</a>
        </p>
      </div>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Messages</a>
      </p>
      <p class="govuk-body" style="margin-bottom: 5px;">
        <a class="govuk-link" href="#">Settings</a>
      </p>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">New registrations</span>
      <h1 class="govuk-heading-l">Check before registering</h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 1</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                71 Nunney Avenue<br>
                Cardiff<br>
                CF11 3AF
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Cardiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 2</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                35 Newport Road<br>
                Barry<br>
                CF62 5BN
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                The Vale of Glamorgan Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Property 3</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> property</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> property details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                41 Station Approach<br>
                Cardiff<br>
                CF11 4LF
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Council
              </dt>
              <dd class="govuk-summary-list__value">
                Cardiff Council
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Holiday let
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <form action="#" method="post" novalidate >
        <button class="govuk-button" data-module="govuk-button" style="background-color: #0360a6;">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
