{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/select-address"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>


        <form class="form" action="./property-type" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Select accommodation address
                </h1>
              </legend>
              <br>
              <p id="call-out-gov-wales" style="background: #fff;">
                <span style="font-weight: 400;">Postcode</span> SD32 8AF
              </p>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Choose addresss
                  </label>
                  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
                    <option selected="" disabled="">Choose address</option>
                    <option value="250029368">56 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029369">58 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029370">60 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029371">62 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029372">64 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029373">66 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029374">68 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029375">70 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029376">71 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029377">72 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029378">73 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029379">74 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029380">75 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029381">76 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029382">77 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029383">79 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029384">81 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029385">83 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029386">85 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029387">87 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029388">89 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029389">91 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029390">93 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029391">95 Nunney Avenue, Swandiff SD32 8AF</option>
                    <option value="250029392">97 Nunney Avenue, Swandiff SD32 8AF</option>
                  </select>
                </div>
            </fieldset>
          </div>

          <br>

          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
