{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/start"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register accommodation in Wales
      </h1>

      <p>When you start a new accommodation business or take over an existing business, you must register with this service. You should do this at least 7 days before people begin staying in paid accommodation.</p>

      <p>Accommodation can include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Bed and breakfasts</li>
        <li>Campsites and caravan parks</li>
        <li>Hotels</li>
        <li>Self-catering</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <p><a href="#">Sign in if you've already registered</a></p>

      <br>
      <a href="./nation" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="start-button-gov-wales" style="box-shadow: 0 2px 0 #3b510d;">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <br><br>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">register by post</a>.
      </p>

    </div>

{% endblock %}
