{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/select-address"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>


        <form class="form" action="/en/register/property-details/v1/type" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Select property address
                </h1>
              </legend>
              <br>
              <p id="call-out-gov-wales" style="background: #fff;">
                <span style="font-weight: 400;">Postcode</span> {{ data['postcode'] }}
              </p>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Choose addresss
                  </label>
                  <select class="govuk-select" id="location" name="address-selected" aria-describedby="location-hint">
                    <option selected="" disabled="">Choose address</option>
                    <option value="1 Road Name, Town or City, {{ data['postcode'] }}">1 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="2 Road Name, Town or City, {{ data['postcode'] }}">2 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="3 Road Name, Town or City, {{ data['postcode'] }}">3 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="4 Road Name, Town or City, {{ data['postcode'] }}">4 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="5 Road Name, Town or City, {{ data['postcode'] }}">5 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="6 Road Name, Town or City, {{ data['postcode'] }}">6 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="7 Road Name, Town or City, {{ data['postcode'] }}">7 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="8 Road Name, Town or City, {{ data['postcode'] }}">8 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="9 Road Name, Town or City, {{ data['postcode'] }}">9 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="10 Road Name, Town or City, {{ data['postcode'] }}">10 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="11 Road Name, Town or City, {{ data['postcode'] }}">11 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="12 Road Name, Town or City, {{ data['postcode'] }}">12 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="13 Road Name, Town or City, {{ data['postcode'] }}">13 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="14 Road Name, Town or City, {{ data['postcode'] }}">14 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="15 Road Name, Town or City, {{ data['postcode'] }}">15 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="16 Road Name, Town or City, {{ data['postcode'] }}">16 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="17 Road Name, Town or City, {{ data['postcode'] }}">17 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="18 Road Name, Town or City, {{ data['postcode'] }}">18 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="19 Road Name, Town or City, {{ data['postcode'] }}">19 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="20 Road Name, Town or City, {{ data['postcode'] }}">20 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="21 Road Name, Town or City, {{ data['postcode'] }}">21 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="22 Road Name, Town or City, {{ data['postcode'] }}">22 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="23 Road Name, Town or City, {{ data['postcode'] }}">23 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="24 Road Name, Town or City, {{ data['postcode'] }}">24 Road Name, Town or City, {{ data['postcode'] }}</option>
                    <option value="25 Road Name, Town or City, {{ data['postcode'] }}">25 Road Name, Town or City, {{ data['postcode'] }}</option>
                  </select>
                </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Save and continue
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
