{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/select-address"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>


        <form class="form" action="/en/register/property-details/v1/type" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Select property address
                </h1>
              </legend>
              <br>
              <p id="call-out-gov-wales" style="background: #fff;">
                <span style="font-weight: 400;">Postcode</span> {{ data['postcode'] }}
              </p>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Choose addresss
                  </label>
                  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
                    <option selected="" disabled="">Choose address</option>
                    <option value="250029368">1 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029369">2 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029370">3 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029371">42 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029372">5 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029373">6 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029374">7 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029375">8 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029376">9 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029377">10 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029378">11 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029379">12 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029380">13 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029381">14 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029382">15 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029383">16 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029384">17 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029385">18 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029386">19 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029387">20 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029388">21 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029389">22 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029390">23 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029391">24 Road name, Town or City {{ data['postcode'] }}</option>
                    <option value="250029392">25 Road name, Town or City {{ data['postcode'] }}</option>
                  </select>
                </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Save and continue
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
              Add address manually
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
