{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/name-relationship"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>


        <form action="./preview-public-information" method="post" novalidate >

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="facilities-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do guests use any shared facilities?
                </h1>
              </legend>
              <p>Knowing this will help determinate what rate of visitor levy guest will pay.</p>
              <div id="facilities-hint" class="govuk-hint">
                Select all facilities that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="facilities" name="facilities" type="checkbox" value="Shared bathrooms and showers">
                  <label class="govuk-label govuk-checkboxes__label" for="facilities">
                    Shared bathrooms and shower facilities
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="facilities" name="facilities" type="checkbox" value="Shared dormitories">
                  <label class="govuk-label govuk-checkboxes__label" for="facilities">
                    Shared dormitories 
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="facilities-2" name="facilities" type="checkbox" value="Shared kitchen facilities">
                  <label class="govuk-label govuk-checkboxes__label" for="facilities-2">
                    Shared kitchen
                  </label>
                </div>
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="facilities-5" name="facilities" type="checkbox" value="none" data-behaviour="exclusive" style="background-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="facilities-5">
                    None of these facilities
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <br><br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Save and continue
          </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
