{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/type"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

          <form action="./units" method="post" novalidate >

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="facilities-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What type of accommodation is the property?
                  </h1>
                </legend>
                <br>
                <p id="call-out-gov-wales" style="background: #fff;">71 Nunney Avenue, Swandiff, SD32 8AF</p>
                <br>
                <div id="facilities-hint" class="govuk-hint">
                  Select all types that apply
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="facilities" name="type" type="checkbox" value="Campsite or caravan park">
                    <label class="govuk-label govuk-checkboxes__label" for="facilities">
                      Campsite or caravan park
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="facilities-2" name="type" type="checkbox" value="Hotel">
                    <label class="govuk-label govuk-checkboxes__label" for="facilities">
                      Hotel
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="facilities-3" name="type" type="checkbox" value="Self-catering">
                    <label class="govuk-label govuk-checkboxes__label" for="facilities-2">
                      Self-catering
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="facilities-4" name="type" type="checkbox" value="Bed and breakfast">
                    <label class="govuk-label govuk-checkboxes__label" for="facilities-2">
                      Bed and breakfast
                    </label>
                  </div>
                  <div class="govuk-checkboxes__divider">or</div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="facilities-5" name="type" type="checkbox" value="none" data-behaviour="exclusive" style="background-color: #fff;">
                    <label class="govuk-label govuk-checkboxes__label" for="facilities-5">
                      None of these facilities
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <br>

            <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Save and continue
            </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
