{% extends "layouts/welsh.html" %}

{% set pageName="Home" %}
{% set alternateLink = "/en/index"%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      Pototeipiau ardoll ymwelwyr
    </h1>

    <p class="govuk-body-l">We are a team at the Welsh Revenue Authority; tasked with implenting Wales' first ever <a href="https://www.gov.wales/a-visitor-levy-for-wales">visitor levy</a> (tourist tax).</p>

    <p class="govuk-body-l">This website documents our early design work of how a visitor levy  and the services related to it might work.</p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint - 8-19 January</span>
    <h2 class="govuk-heading-m">Registration scenarios</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./dashboard">Homepage for registered users</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint - 11-22 December</span>
    <h2 class="govuk-heading-m">Registration general</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://welsh-revenue-authority.github.io/visitor-levy-prototypes/">Begin registration</a></li>
    </ul>

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
