{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/confirm"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales">
          Registration complete<br><br>
          <span class="govuk-!-font-weight-regular">71 Nunney Avenue, Swandiff, SD32 8AF is now registered as accommodation<br><br>
          Your reference number is
          </span>HDJ2123F
        </p>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You will get updates from Swandiff about any future plans to introduce a visitor levy in your area.
        </p>
        <p class="">You can de-register this property at anytime.</p>

      </div>

    </div>
  </div>

{% endblock %}
