{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/volume" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select an address for the accommodation
              </h1>
            </legend>
            <!--<div id="changedName-hint" class="govuk-hint">
              This includes changing your last name or spelling your name differently.
            </div>-->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-form-group">
                <label class="govuk-label" for="location">
                  Choose addresss
                </label>
                <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
                  <option selected="" disabled="">Choose address</option>
                  <option value="56">56 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="58">58 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="60">60 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="62">62 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="64">64 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="66">66 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="68">68 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="70">70 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="71">71 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="72">72 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="73">73 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="74">74 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="75">75 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="76">76 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="77">77 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="79">79 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="81">81 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="83">83 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="85">85 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="87">87 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="89">89 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="91">91 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="93">93 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="95">95 Nunney Avenue, Cardiff, CF11 4LF</option>
                  <option value="97">97 Nunney Avenue, Cardiff, CF11 4LF</option>
                </select>
              </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" id="button-gov-wales">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
