{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Accommodation prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <p class="govuk-body-l">We are a team at the Welsh Revenue Authority, implenting an <a href="https://www.gov.wales/registration-and-licensing-scheme-all-visitor-accommodation-wales">accommdation register</a> and <a href="https://www.gov.wales/a-visitor-levy-for-wales">visitor levy</a> in Wales.</p>

    <p class="govuk-body-l">This website documents how someone who provides accommodation in Wales might use public services. As well how different back-office system work.</p> 

    <p class="govuk-body-l">The design work has been done in phases:</p>

    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li>
        <a href="#register">Register accommodation in Wales</a> (autumn 2024)
      </li>
      <li>
        <a href="#key-moments">Key moments end-to-end</a> (spring 2024) 
      </li>
    </ul>  
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-l">Autumn 2024 / Spring 2025</span>
    <h1 class="govuk-heading-l" id="register">Register accommodation is Wales</h2>

    <p class="govuk-body">The first service, people will have to register paid accommodation in Wales from 2026. The team aim in this phase, is to learn what the minimal viable registration service should include.</p> 

    <h3 class="govuk-heading-s">December 2024</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./newsletter/splash-page/v1">Sign up page for newsletter</a>
      </li>
      <li>
        <a href="./newsletter/first-post/v1">First newsletter</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-l">Spring 2024</span>
    <h1 class="govuk-heading-l" id="key-moments">Key moments end-to-end</h2>

    <p class="govuk-body">We prototyped key moments across the first two years accommodation providers. Registering for the first time in 2026. Introduction of the visitor levy in 2027. And inevitably making changes in 2028, such as closing down a business.</p> 

    <p class="govuk-body-m"><a href="/en/writing">Read about the thinking behind these prototypes</a></p>   

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Year 0</span>
    <h2 class="govuk-heading-m">Register for the first time</h2>

    <h3 class="govuk-heading-s">Accommodation providers</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./register/association-email">Email from trade association
        </a>
      </li>
      <li>
        <a href="./register/start">Start page followed by sign up and first registration
        </a>
      </li>
      </li>
      <li>
        <a href="./register/email-new-registration">Confirmation email of new registration
        </a>
      </li>
      <li>
        <a href="./register/public/record">Public record in accommodation register
        </a>
      </li>
      <li>
        <a href="./register/online-travel-agent">Registration pulled into an online travel agent
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">Back office staff</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./register/backoffice/email">Sign-in for back office staff
        </a>
      </li>
      <li>
        <a href="./register/backoffice/homepage">Homepage
        </a>
      </li>
      <li>
        <a href="./register/backoffice/search-results">Search results
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Year 1</span>
    <h2 class="govuk-heading-m">Local council starts a levy</h2>

    <h3 class="govuk-heading-s">Accommodation providers</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./levy/email-council-consultation">Email about consultation by council</a>
      </li>
      <li>
        <a href="./levy/email-council-levy-starts-soon">Email about introduction of local levy
        </a>
      </li>
      <li>
        <a href="./levy/email">Login page</a></li>
      <li>
        <a href="./levy/homepage">Account homepage with notification banner</a>
      </li>  
      <li>
        <a href="./levy/public-dashboard">How council spends visitor levy</a>
      </li>   
    </ul>

    <h3 class="govuk-heading-s">Back office staff</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./levy/backoffice/consultation/local-authorities">
        Trigger consultation
        </a>
      </li> 
      <li>
        <a href="./levy/backoffice/start-levy/swandiff-council">
        Start visitor levy in Swandiff
        </a>
      </li> 
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Year 2</span>
    <h2 class="govuk-heading-m">Making changes to the register</h2>

    <h2 class="govuk-heading-s">Accommodation provider sees</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./middles-ends/homepage">
          De-register a property
        </a>
      </li>
      <li>
        <a href="./middles-ends/homepage">
          Add more properties
        </a>
      </li>
      <li>
        <a href="./middles-ends/email-request">
          Email request to take on a property
        </a>
      </li>
      <li>
        <a href="./middles-ends/email-companies-house-push">
          Push notification trigged from Companies House
        </a>
      </li>
      <li>
        <a href="./middles-ends/settings">
          Stop being a liable person
        </a>
      </li>
    </ul>  

    <h3 class="govuk-heading-s">Back office staff</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="./middles-ends/backoffice/homepage">
        Chasing unfinish levy returns and payments
        </a>
      </li> 
      <li>
        <a href="./middles-ends/backoffice/council/email">
        Local council view
        </a>
      </li> 
    </ul> 

  </div>
</div>

{% endblock %}
