{% extends "layouts/english.html" %}

{% set pageName="Home" %}
{% set alternateLink = "/cy/index"%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      Visitor levy prototypes
    </h1>

    <p class="govuk-body-l">We are a team at the Welsh Revenue Authority; tasked with implenting Wales' first ever <a href="https://www.gov.wales/a-visitor-levy-for-wales">visitor levy</a> (tourist tax).</p>

    <p class="govuk-body-l">This website documents our early design work of how a visitor levy  and the services related to it might work.</p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint - 8-19 January</span>
    <h2 class="govuk-heading-m">Registration scenarios</h2>

    <h3 class="govuk-heading-s">National Registration scheme coming into place</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./register/association-email">Email from trade association</a>
      <li><a href="#">Start page followed by sign up and first registration</a>
      <li><a href="#">Bulk upload for larger accommodation providers</a>
      <li><a href="#">Registration / proof of letter</a>
    </ul>

    <h3 class="govuk-heading-s">Cardiff Council intro visitor levy</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./levy/email-council-consultation">Email about consultation by council</a>
      <li><a href="#">Email about introduction of local levy</a>
      <li><a href="./levy/login-email">Login page</a>
      <li><a href="./levy/homepage">Account homepage with notification banner</a>
      <li><a href="#">Add a trusted person to a property</a>        
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint - 11-22 December</span>
    <h2 class="govuk-heading-m">Registration general</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://welsh-revenue-authority.github.io/visitor-levy-prototypes/">Begin registration</a></li>
    </ul>

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
