{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/register/check-answers"%}
{% set pageName="Visitor levy prototypes" %}

{% block pageTitle %}
  Accommodation prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-l">Test the new accommodation registration service</p>

    <p class="govuk-body">If you provide short-term accommodation in Wales, help test the early designs of the government's registration service.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span> You do not need to register before April 2026.
      </strong>
    </div>

    <p class="govuk-body">This is not a real service and is just for testing early designs of the registration service. All designs will likely be different to the real service available from April 2026.</p>

    <div class="govuk-inset-text">
      All information entered into this prototype test is not saved and is deleted when you close the website in your browser.
    </div>

    <p class="govuk-body-l"><a href="./register/start-page/v1">Start test of registration service</a></p> 

  </div>
</div>

{% endblock %}
