{% extends "layouts/online-travel-agent.html" %}

{% block pageTitle %}
  Visitor levy prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l" style="color: #57385c;">Cottage with Breathtaking  Views of Swandiff Bay
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <img src="https://images-cdn.sykesassets.co.uk/images/property_images/1500x1125/1105794/sc_1653379673_1105794_1.jpg?access=1214T8130T840" style="width: 50%; border-radius: 20px 0px 0px 20px;" alt="See view">

      <div class="grid-container" style="float: right; width: 50%;">
        <div class="grid-item">
          <img src="https://images-cdn.sykesassets.co.uk/images/property_images/1500x1125/1105794/sc_1653379679_1105794_5.jpg?access=1214T8130T840" style="width: 99%;" alt="See view">
        </div>
        <div class="grid-item">
          <img src="https://images-cdn.sykesassets.co.uk/images/property_images/1500x1125/1105794/sc_1653379681_1105794_6.jpg?access=1214T8130T840" style="width: 99%; border-radius: 0px 20px 0px 0px;" alt="See view">
        </div>
        <div class="grid-item">
          <img src="https://images-cdn.sykesassets.co.uk/images/property_images/1500x1125/1105794/sc_1653379678_1105794_4.jpg?access=1214T8130T840" style="width: 99%;" alt="See view">
        </div>  
        <div class="grid-item">
          <img src="https://images-cdn.sykesassets.co.uk/images/property_images/1500x1125/1105794/sc_1653379686_1105794_9.jpg?access=1214T8130T840" style="width: 99%; border-radius: 0px 0px 20px 0px;" alt="See view">
        </div>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <br><br>
      <h3 class="govuk-heading-m" style="margin-bottom: 0px;">
        Cottage in Swandiff, Wales
      </h3>
      <p style="color: #505a5f;">
        <span style="padding-right: 10px;">
          6 guests
        </span>-
        <span style="padding-right: 10px;">
          3 bedrooms
        </span>-
        <span style="padding-right: 10px;">
          4 beds
        </span>-
        <span>
          1 bathroom
        </span>
      </p>
      <div class="govuk-panel govuk-panel--confirmation" style="background: #fff; border: 2px solid #ddd; border-radius: 20px; color: darkgrey; text-align: left;">
        <p style="text-align: center; margin-bottom: 0px;">
          <span style="font-weight: 400; font-size: 21px; color: #505a5f;">Host by <a href="#" style="color: #0b0c0c; font-weight: 700;">Nadiya</a>
          </span>
          <span style="font-weight: 400; font-size: 21px; color: #505a5f; border-left: 2px solid #ddd; border-right: 2px solid #ddd; padding-left: 20px; padding-right: 20px; margin-left: 20px; margin-right: 20px;">4.41 <span style="font-weight: 700; color: #0b0c0c;">★★★★☆</span>
          </span>
          <span style="font-weight: 400; font-size: 21px; color: #505a5f;"><a href="#" style="color: #0b0c0c; font-weight: 700;">203 reviews</a>
          </span>
        </p>
      </div>
      <p style="color: #505a5f; font-size: 21px;">
        <br>
        <span style="color: #0b0c0c; font-weight: 700;">Self check-in</span><br>
        Check yourself in with the lockbox.<br><br>
        <span style="color: #0b0c0c; font-weight: 700;">Self Furry friends welcome</span><br>
        Bring your pets along for the stay.<br>
      </p>
    </div>

    <div class="govuk-grid-column-one-third" style="  position: -webkit-sticky; /* Safari */ position: sticky; top: 0;">
      <br><br>
      <div class="govuk-panel govuk-panel--confirmation" style="background: #fff; height: 380px; border: 2px solid #ddd; border-radius: 20px; color: darkgrey; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; text-align: left;">
        <p>
          <span style="font-weight: 700; font-size: 30px;">£170</span>
          <span style="font-weight: 400; font-size: 21px; color: #505a5f;">night</span>
        </p>
        <div style="border: 2px solid #ddd; width: auto; padding: 15px 15px 0px 15px; border-radius: 10px;margin-bottom: 15px;">
          <p style="border-bottom: 2px solid #ddd; padding-bottom: 15px; margin-bottom: 10px;">
            <span style="font-weight: 400; font-size: 16px; margin-bottom: 0px;">Check-in</span><br>
            <span style="font-weight: 700; font-size: 21px; color: #505a5f;">13/04/2026</span>
          </p>
          <p>
            <span style="font-weight: 400; font-size: 16px; margin-bottom: 0px;">Check-out</span><br>
            <span style="font-weight: 700; font-size: 21px; color: #505a5f;">20/04/2026</span>
          </p>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales" style="width: 100%; background: #505a5f; border-radius: 5px;">
          Reverve
        </button>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <br><br>
      <br>
      <div class="govuk-form-group" id="form-background-gov-wales" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border: 2px solid #ddd; border-radius: 20px;">

        <h2 class="govuk-heading-m">Registered with Welsh government</h2>

        <div class="govuk-summary-card" style="background: #f1f1f1; border: 10px solid #0360a6;">
          <div class="govuk-summary-card__title-wrapper" style="background: #0360a6; padding-top: 5px;">
            <h2 class="govuk-summary-card__title" style="color: #fff;">  71 Nunney Avenue, Swandiff, SD32 8AF</h2>
          </div>
          <div class="govuk-summary-card__content" style="background: #fff;">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Registration number
                </dt>
                <dd class="govuk-summary-list__value">
                  87219786
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date registered
                </dt>
                <dd class="govuk-summary-list__value">
                  27 January 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Council
                </dt>
                <dd class="govuk-summary-list__value">
                  Swandiff Council
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Self-catering
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Provider name
                </dt>
                <dd class="govuk-summary-list__value">
                  Bluebird Holidays Limited
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Provider type
                </dt>
                <dd class="govuk-summary-list__value">
                  Limited company
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Companie House number
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">06617101</a>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <p><a href="./public/record" style="font-weight: 700;">https://accommodation.register.wales/87219786</a></p>
      </div>
      <p>travalgo.com is not responsible for the content of external sites.</p>

    </div>

  </div>

{% endblock %}