{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/register/name-relationship"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>


        <form action="./trading-name-question" method="post" novalidate >

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="started-trading-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if data.startedTrading=="yes" %}
                  <h1 class="govuk-fieldset__heading">
                    When did your business start trading?
                  </h1>
                {% endif %}
                {% if data.startedTrading=="no" %}
                  <h1 class="govuk-fieldset__heading">
                    When will your business start trading?
                  </h1>
                {% endif %}
              </legend>
              {% if data.startedTrading=="yes" %}
                <div id="started-trading-hint" class="govuk-hint">
                  For example, 27 3 2021
                </div>
              {% endif %}
              {% if data.startedTrading=="no" %}
                <div id="started-trading-hint" class="govuk-hint">
                  For example, 27 10 2026
                </div>
              {% endif %}
              <div class="govuk-date-input" id="started-trading">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="started-trading-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="started-trading-day" name="started-trading-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="started-trading-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="started-trading-month" name="started-trading-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="started-trading-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="started-trading-year" name="started-trading-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Save and continue
          </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
